@import StatusMessage
@import SoundEditor

body, html {
  background: #eee;
}
canvas {
  background: #000;
}
.sound-viz {
  float: left;
}
.sound-editor {
  float: left;
}

nav {
  a {
    display: block;
  }
}
