
.status-message.error {
  background-color: #C63;
  color: #FFF;
}
.status-message.warn {
  background-color: #A63;
  color: #FFF;
}
.status-message.success {
  background-color: #3C6;
  color: #FFF;
}
.status-message.info {
  background-color: #666;
  color: #FFF;
}
.status-message.success, .status-message.info, .status-message.error, .status-message.warn {
  transition: none;
}
.status-message {
  background-color: #666;
  color: #999;
  transition: 0.5s;
}
